.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  max-width: 1100px;
  margin: 50px auto;
  background: #f8fafc;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: none;
}

.profile-preview, .profile-edit {
  background: #fff;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.profile-preview{
  text-align: center;
}

.profile-preview img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: none;
  margin-bottom: 1rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
 
.remove-photo-btn {
  background-color: #fee2e2;
  color: #b91c1c;
  font-weight: 600;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 auto 8px;
  transition: all 0.3s ease;
  display: none;
  text-align: center;
  transition: all .3s ease;
}

.remove-photo-btn:hover {
  background-color: #b91c1c;
  color: #fee2e2;
}

.remove-photo-btn[style*="display: none"] {
  opacity: 0;
}

.profile-preview h2 {
  color: #023e8a;
  font-size: 1.4rem;
  margin-top: 0.8rem;
}

.profile-preview p {
  color: #555;
  margin: 0.5rem 0;
}

.profile-edit h2 {
  color: #023e8a;
  margin-bottom: 1rem;
}

.profile-edit form {
  display: flex;
  flex-direction: column;
}

.profile-edit label {
  margin-top: 1rem;
  font-weight: 500;
}

.profile-edit input, 
.profile-edit textarea {
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.profile-edit button {
  margin-top: 1.5rem;
  padding: 12px;
  border: none;
  background-color: #0077b6;
  color: white;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.profile-edit button:hover {
  background-color: #023e8a;
}

@media (max-width: 768px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    margin: 10px;
    gap: 1rem;
  }

  .profile-preview, .profile-edit {
    padding: 1.5rem;
  }
}
